<h1>Users:</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Full Name</th>
    <th>Actions</th>
  </tr>
  <%= for user <- @users do %>
    <tr>
      <td>
        <strong><%= user.username %></strong>
      </td>
      <td>
        <strong><%= user.name %></strong>
      </td>
      <td>
        <%= link "View", to: Routes.user_path(@conn, :show, user.id) %>
      </td>
    </tr>
  <% end %>
</table>
