/* This file is for your main application css. */

@import "~bootstrap/scss/bootstrap.scss";
@import "./colors.scss";
@import "./newsfeed.scss";
@import "../../../../deps/phoenix_live_view/assets/css/live_view.css";

body {
  font-family: 'Alegreya', serif;
  padding-top: 100px;
}

.alert:empty {
  display: none;
}

.navbar-logo {
  max-width: 250px;
}

.arrow-upward, .arrow-downward, .report {
  &:hover {
    color: $light-purple;
    cursor: pointer;
  }
}

.report {
  color: $black;
}
