.newsfeed {
  text-align: center;
}

.newsfeed-popular-videos {
  list-style-type: none;
  text-align: center;
}

.newsfeed-iframe-player {
  width: 560px;
  height: 315px;
  margin: 0 auto;
  border: 2px solid #EEE;
}

div.newsfeed-video-header span, h4 {
  display: inline;
}
