<h1>Edit Article</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.article_path(@conn, :update, @article)) %>

<%= link "All Articles", to: Routes.article_path(@conn, :index), role: "button", class: "btn btn-info" %>
