<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= render DietWeb.LayoutView, "seo_metadata.html", assigns %>
    <title>Weight Hater</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <!-- Google fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- We want to export the userToken before to load the rest of the scripts -->
    <script>window.userToken = "<%= assigns[:user_token] %>";</script>
  </head>
  <body>
    <header>
      <%= render DietWeb.LayoutView, "navigation.html", assigns %>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
