<h1>New Video</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.video_path(@conn, :create)) %>

<%= link "All Videos", to: Routes.video_path(@conn, :index), role: "button", class: "btn btn-info" %>
